.topbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
  text-decoration: none;
  font-size: 1.2rem;
  
}
  
  .topbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .topbar li {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .topbar li a {
    text-decoration: none;
   background-color: #000 !important;
    color: #fff !important;
  }
  
  .topbar li a:hover {
    background-color: #000;  }
  
  .topbar li.active a {
    background-color: #000;    color: #fff;
  }
  .icon{
    color: #000;
  }
  