.toolbar-class {
    border: 1px solid whitesmoke;
  }
  .wrapper-class{
 
  border: 1px solid whitesmoke;
  }.editor-class {
    background-color: whitesmoke;
   height: 300px;
    border: 1px solid whitesmoke;
  }